{{> navbar }}
<div>
  {{#each productsFromCart}}
    <li> Producto ID: {{id_producto}} cantidad: {{id_carrito_item}}, {{id_carrito}}</li>

    <form action="/removeProductFrom/{{id_carrito}}/{{id_producto}}" method="post">
      <input type="submit" value="Quitar">
    </form>
  {{/each}}

    <form action="/buyCart" method="post">
      <input type="hidden" name="data" value="{{data}}">
      <input type="submit" value="Prueba">
    </form>
</div>