{{> navbar }}
<div class="mainContainer">
  <h1>Tu carrito:</h1>
  <div class="cartContainer">
    <div class="cart">
      <div class="dFlex flexWrap">
      {{#each productsFromCart}}
      <div class="containerProductCart">
        <li> Producto ID: {{id_producto}}</li>
        <li>Id Carrito: {{id_carrito}}</li>
        <li>Id Item: {{id_carrito_item}}</li>
        <li>Cantidad: {{cantidad}}</li>
        <li>Precio Unitario: {{precio}}</li>
        <form action="/removeProductFrom/{{id_carrito}}/{{id_producto}}" method="post">
          <input type="submit" value="Quitar" class="removeButton">
        </form>
      </div>
      {{/each}}
      </div>
      <div class=" dFlex justifyContentEnd">
        <h2> Monto Total: {{totalPrecio}}</h2>
        <form action="/buyCart" method="post">
          <input type="hidden" name="data" value="{{data}}">
          <input type="submit" value="Comprar" class="cardButton">
        </form>  
      </div>
    </div>
  </div>
</div>

{{> footer }}