{{> navbarAdmin }}
<div class="mainContainer">
  <h1>Ordenes de Usuarios</h1>
  <div class="ordersContainer">
    {{#each orderUser}}
      <div class="containerOrder">
        <li>Nombre: {{nombre_usuario}}, Id Usuario: {{id_usuario}} Id de Compra: {{id_orden_compra}}</li>
        <li>Fecha: {{fecha_compra}}</li>
        <li>Estado: {{estado}} </li>
        <div class="dFlex">
        {{#each productos}}
        <div class="orderProducts">
            <p>IDProducto:{{idProducto}} </p>
            <p>IDCarritoItem:{{idCarritoItem}} </p>
            <p>IDCarrito:{{idCarrito}} </p>
            <p>Cantidad:{{cantidad}} </p>
            <p>Precio Unitario:{{precio}}</p>
        </div>
        {{/each}}
        </div>
        <li>Monto total: {{precio_total}}</li>
        <div class="options dFlex">
          <form action="/status/{{id_orden_compra}}" method="POST">
            <input type="hidden" name="status" value="Pendiente">
            <input type="submit" value="Pendiente" class="red">
          </form>
          <form action="/status/{{id_orden_compra}}" method="POST">
            <input type="hidden" name="status" value="Pagada">
            <input type="submit" value="Pagada" class="blue">
          </form>
          <form action="/status/{{id_orden_compra}}" method="POST">
            <input type="hidden" name="status" value="Completada">
            <input type="submit" value="Completada" class="green">
          </form>         
        </div>
      </div>
    {{/each}}
  </div>
</div>
{{>footer }}