{{> navbar }}
<div>
  {{#each orderUser}}
    <li>Nombre: {{nombre_usuario}}, Id Usuario: {{id_usuario}} Id de Compra: {{id_orden_compra}} fecha: {{fecha_compra}}, estado: {{estado}} </li>
    <li>Monto total: {{precio_total}}</li>
    {{#each productos}}
        <p>IDProducto:{{idProducto}} IDCarritoItem:{{idCarritoItem}} IDCarrito:{{idCarrito}} Cantidad:{{cantidad}} Precio Unitario:{{precio}}</p>
    {{/each}}
  {{/each}}
</div>
{{>footer }}