<header>
  <div>
      <img src="../../assets/img/IMAGEN CORPORATIVA.png">
  </div>
  <nav class=".nav-container">
    <a href="/">Home</a>
    <a href="/products">Productos</a>
    <a href="/cart">Carrito</a>
    <a href='/logout'>Salir</a>
  </nav>
</header>
<div class="mainContainer">
  <h1>Ordenes Pedidas</h1>
  <div class="ordersContainer">
    {{#each orderUser}}
    <div class="containerOrder">
      <li>Nombre de Cliente: {{nombre_usuario}}</li>
      <li>Id de Compra: {{id_orden_compra}}</li>
      <li>Fecha: {{fecha_compra}}</li>
      <li>Estado: {{estado}} </li>
      <div class="dFlex">
      {{#each productos}}
      <div class="orderProducts">
          <p>IDProducto:{{idProducto}} </p>
          <p>Cantidad:{{cantidad}} </p>
          <p>Precio Unitario:{{precio}}</p>
      </div>
      {{/each}}
      </div>
      <li>Monto total: {{precio_total}}</li>
    </div>
    {{/each}}
  </div>
</div>
{{>footer }}