{{> navbar }}
  <div>
    {{#each products}} 
      <div class="card">
        <img src="{{img}}" alt="" srcset=""> 
        <p>{{id}}</p>
        <p>{{name}}</p>
        <p>{{price}}</p>
        <a href="/product/{{id}}"><button  class="buttonPreview">Ver detalles</button></a>
      </div>
    {{/each}}
</div>
{{>footer}}




