{{> navbarAdmin }}

<h1>Administrar Productos</h1>

<div class="dFlex justifyContentCenter">
  <a href="/newProduct"><button  class="cardButton">Crear Nuevo Producto +</button></a>
</div>

<div class="dFlexProducts">
  {{#each products}} 
    <div class="card">
      <img src="{{img}}" alt="{{img}}"> 
      <h2>SKU: {{id}}</h2>
      <h2>{{name}}</h2>
      <h2>Precio Producto: {{price}}$</h2>
      <a href="/product/{{id}}"><button  class="cardButton">Ver detalles</button></a>
      <a href="/putProduct/{{id}}"><button  class="cardButton put">Editar</button></a>
      <a href="/deleteProduct/{{id}}"><button  class="cardButton delete">Borrar -</button></a>
    </div>
  {{/each}}
</div>

{{>footer}}





