{{#ifEqual user undefined}}
  <header>
    <div>
        <img src="../../assets/img/IMAGEN CORPORATIVA.png">
    </div>
    <nav class=".nav-container">
      <a href="/">Home</a>
      <a href="/products">Productos</a>
      <a href="/cart">Carrito</a>
      <a href='/login'>Login</a>
    </nav>
  </header>
{{else}}
  <header>
    <div>
        <img src="../../assets/img/IMAGEN CORPORATIVA.png">
    </div>
    <nav class=".nav-container">
      <a href="/">Home</a>
      <a href="/cart">Carrito</a>
      <a href="/order">Ordenes</a>
      <a href='/logout'>Salir</a>
    </nav>
  </header>
{{/ifEqual}}

  <div class="dFlexDetailProduct">
      <div class="textDetails">
        <div class="titleProduct">
          <h1>{{product.name}}</h1>
          <h2>{{product.category}}</h2>
        </div>

        <div class="details">
          <h2>DETALLES</h2>
          <p>{{product.description}}</p>
        </div>

        <div class="price">
          <h2>{{product.price}}$</h2>
        </div>

        <h2>Cantidad:</h2>
        <div class="contador">
            <button id="boton-disminuir10" class="buttonDiscount">-10</button>
            <button id="boton-disminuir" class="buttonDiscount">-1</button>
            <span id="numero-conteo">0</span>
            <button id="boton-aumentar1" class="buttonCount">+1</button>
            <button id="boton-sumar10" class="buttonCount">+10</button>
          </div>
        <form action="/addProduct/{{product.id}}" method="post">
          <input type="hidden" name="price" value={{product.price}}>
          <input type="hidden" id="valor-conteo-hidden" name="cantidad" />
          <input type="submit" value="Agregar al carrito" class="productIdButton">
        </form>
      </div>

      <img src="{{product.img}}" alt="" srcset="" class="imgDetail">       
  </div>
  {{>footer}}
  <script src="../js/button.js"></script>






