<header>
  <div>
      <img src="../../assets/img/IMAGEN CORPORATIVA.png">
  </div>
  <nav class=".nav-container">
    <a href="/">Home</a>
    <a href="/cart">Carrito</a>
    <a href="/order">Ordenes</a>
    <a href='/logout'>Salir</a>
  </nav>
</header>
  <h1>Nuestros trajes son de la mayor calidad</h1>

  <div class="content-product-filter"></div>
  <ul class="product-filter">
    <li>
      <a href="/products">Todos</a>
    </li>
    <li>
      <a href="/products/Braga">Braga</a>
    </li>
    <li>
      <a href="/products/Bata">Bata</a>
    </li>
    <li>
      <a href="/products/Camisa">Camisa</a>
    </li>
    <li>
      <a href="/products/Cocina">Cocina</a>
    </li>
    <li>
      <a href="/products/Conjunto">Conjunto</a>
    </li>
    <li>
      <a href="/products/Chaleco">Chaleco</a>
    </li>
    <li>
      <a href="/products/Traje">Traje</a>
    </li>
  </ul>

   <div class="content-product-filter" id="content2"></div>
  <div class="dFlexProducts">
    {{#each products}} 
      <div class="card">
        <img src="{{img}}" alt="" srcset=""> 
        <h3>{{name}}</h3>
        <h2>Categoría: {{category}}</h2>
        <h2>{{price}}$</h2>
        <a href="/product/{{id}}"><button  class="cardButton">Ver detalles</button></a>
      </div>
    {{/each}}
</div>
{{>footer}}




